<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин іграшок VNTU-Toy</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Підключення CSS -->
</head>
<body>
    <header>
        <h1>VNTU-Toy</h1>
        <nav>
            <a class="nav-link" href="index.html">На головну</a>
            <a class="nav-link" href="catalog.html">Каталог товарів</a>
            <a class="nav-link" href="about.html">Про нас</a>
            <a class="nav-link" href="delivery.html">Умови доставки</a>
        </nav>
    </header>

    <main>
        <div class="index-title">
            <h1>Про магазин VNTU-Toy</h1>
        </div>

        <div class="index-text">
            <p>
                Ласкаво просимо до VNTU-Toy – інтернет-магазину іграшок, який спеціалізується на продажу високоякісних та захоплюючих іграшок для дітей різного віку. Ми прагнемо дарувати радість та розвиток через іграшки, які сприяють творчому та інтелектуальному розвитку дитини.
            </p>
            <p>
                У нашому каталозі ви знайдете широкий вибір товарів – від класичних іграшок, таких як м’які іграшки, до сучасних конструкторів та роботизованих іграшок. Кожна іграшка проходить ретельну перевірку якості, щоб гарантувати безпеку ваших дітей.
            </p>
            <p>
                Завітайте до VNTU-Toy і дозвольте нам стати частиною незабутніх моментів у житті ваших дітей. Ми прагнемо зробити ваші покупки зручними та приємними, надаючи швидку доставку та високий рівень обслуговування.
            </p>
            <p>
                Ми співпрацюємо лише з надійними виробниками, що дозволяє нам пропонувати нашим клієнтам найкращі ціни та гарантію якості на всі товари. Наші консультанти завжди готові допомогти з вибором іграшки, яка найкраще підходить для вашої дитини.
            </p>
        </div>
    </main>

    <footer>
        &copy; 2024 VNTU-Toy. Всі права захищені.
    </footer>
</body>
</html>
