<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відгуки | VNTU-Toy</title>
    <link rel="stylesheet" href="../css/style.css"> <!-- Підключення CSS -->
</head>
<body>
    <header>
        <h1>VNTU-Toy</h1>
        <nav>
            <a class="nav-link" href="index.html">На головну</a>
            <a class="nav-link" href="catalog.html">Каталог товарів</a>
            <a class="nav-link" href="about.html">Про нас</a>
            <a class="nav-link" href="delivery.html">Умови доставки</a>
        </nav>
    </header>

    <main>
        <h1 class="section-title">Відгуки покупців</h1>

        <div class="review">
            <h3>Арсенюк Ігор Ростиславович</h3>
            <p>Замовив іграшку для сина, товар прийшов швидко, якість відмінна. Дуже задоволений покупкою!</p>
        </div>

        <div class="review">
            <h3>Ковальчук Майя Борисівна</h3>
            <p>Прекрасний магазин! Дуже ввічливий персонал, допомогли обрати іграшку для доньки. Доставка була своєчасна, все супер!</p>
        </div>

        <div class="review">
            <h3>Сілагін Єгор Олексійович</h3>
            <p>Замовляв декілька товарів одночасно. Все доставили вчасно і в чудовому стані. Однак один товар мав пошкоджену упаковку. Але загалом задоволений сервісом.</p>
        </div>

        <div class="review">
            <h3>Малініч Ілля Павлович</h3>
            <p>Д-Дуже швидка доставка, товар відповідає опису, рекомендую цей магазин!</p>
        </div>
    </main>

    <footer>
        &copy; 2024 VNTU-Toy. Всі права захищені.
    </footer>
</body>
</html>
